@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';
@tailwind utilities;

@theme {
    --color-items-500: #ff0546;
    --color-items-700: #9c173b;
    --color-items-900: #450327;
    --color-items-950: #17001d;
    --color-accent-500: #0098db;
    --color-accent-600: #1e579c;
    --color-cream-100: #fdfdfd;
    --color-cream-200: #E4E4E4;
    --color-cream-300: #CDCDCD;
    --color-night-950: #121212;
    --color-night-900: #1D1D1D;
    --color-night-800: #282828;
    --color-night-700: #3D3D3D;
    --color-medium: #a59f9f;
}

:root {
    --bg-primary: #fdfdfd;
    --bg-second: #e0e0e0;
    --bg-third:#f5f3f0;
    --bg-cont: #17001d;
    --color-items-primary: #ff0546;
    --color-items-primary50: #ff05487c;
    --color-items-second: #9c173b;
    --color-dark: #450327;
    --accent: #0098db;
    --accent-gradient: #1e579c;
    --text-light: #fdfdfd;
    --text-dark: #17001d;
    --text-theme: #17001d;
}

@custom-variant dark {
	&:where([data-theme="dark"] *) {
		@slot;
	}
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    background: var(--bg-primary);
    
    color: var(--text-theme);
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: var(--bg-cont);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-gradient);
}


@utility display-center {
	@apply flex justify-center items-center;
}

@utility transition-theme {
	@apply transition-all duration-300 ease-out;
}

.border-groove {
    border-style: groove;
}

@layer components {
    .shimmer {
        @apply
            bg-linear-to-r from-cream-300 via-cream-200 to-cream-300 dark:from-night-800 dark:via-night-700 dark:to-night-800
            bg-[length:200%_100%]
            animate-[shimmer_1.5s_infinite];
    }
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    50% {
        background-position: -200% 0;
    }
}

@keyframes rareAchiviementPulse {
    0%, 100% {
        box-shadow: 0 0 0px var(--color-items-500), 0 0 5px var(--color-items-500), 0 0 12px var(--color-items-500);
    }
    50% {
        box-shadow: 0 0 8px var(--color-items-500), 0 0 12px var(--color-items-500), 0 0 16px var(--color-items-500);
    }
}
