@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';
@tailwind utilities;

@theme {
    --color-items-500: #ff0546;
    --color-items-700: #9c173b;
    --color-items-900: #450327;
    --color-items-950: #17001d;
    --color-accent-500: #0098db;
    --color-accent-600: #1e579c;
    --color-cream-100: #fdfdfd;
    --color-cream-200: #E4E4E4;
    --color-cream-300: #CDCDCD;
    --color-night-950: #121212;
    --color-night-900: #1D1D1D;
    --color-night-800: #282828;
}

:root {
    --bg-primary: #fdfdfd;
    --bg-second: #e0e0e0;
    --bg-third:#f5f3f0;
    --bg-cont: #17001d;
    --color-items-primary: #ff0546;
    --color-items-primary50: #ff05487c;
    --color-items-second: #9c173b;
    --color-dark: #450327;
    --accent: #0098db;
    --accent-gradient: #1e579c;
    --text-light: #fdfdfd;
    --text-dark: #17001d;
    --text-theme: #17001d;
}

@custom-variant dark {
	&:where([data-theme="dark"] *) {
		@slot;
	}
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    background: var(--bg-primary);
    
    color: var(--text-theme);
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: var(--bg-cont);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-gradient);
}


@utility display-center {
	@apply flex justify-center items-center;
}

@utility transition-theme {
	@apply transition-all duration-300 ease-out;
}

.border-groove {
    border-style: groove;
}

@keyframes slime-wave {
  0%, 100% { 
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translateY(0);
  }
  25% { 
    border-radius: 55% 45% 37% 63% / 40% 52% 48% 60%;
    transform: translateY(-2px);
  }
  50% { 
    border-radius: 37% 63% 55% 45% / 63% 38% 62% 37%;
    transform: translateY(0);
  }
  75% { 
    border-radius: 45% 55% 70% 30% / 52% 45% 55% 48%;
    transform: translateY(2px);
  }
}
